

/* .wrapper {
    display: grid;
    grid-template-areas: 
        "game"
        "UI";
} */


/* .game-window {
    grid-area: game;
} */


.UI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cashoutButton {
    /* display: inline-flex; */
}

canvas {
    display: block;
    margin: 0 auto;
    /* grid-area: game; */
}

button {
    /* background-color: #04AA6D;
    border: none;
    color: white; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* .UI {
    grid-area: UI;
} */