h1 {
    color: #76040A;
    border-bottom: 1px solid #34090D;
    font-family: 'Average', serif;
    text-align: center;
}

h2 {
    color: #34090D;
    margin-left: 25px;
    font-family: 'Average', serif;
}

body {
    background-color: #BDC7D3;
    font-family: 'Average', serif;
}

p,
ul,
ol {
    color: #15191F
}

p,
blockquote,
ul,
ol {
    margin-left: 100px;
}

blockquote {
    background-color: #8C97A6;
    padding: 1rem;
}

hr {
    border-bottom: #34090D
}

img.over {
    float: right;
    margin: 0 12px;
}

a {
    color: #76040A;
}

a:active {
    color: #76040A;
}

a:visited {
    color: #34090D;
}

a:hover {
    color: red
}