main,
header,
footer {
    border: 1px solid black;
    margin: 0 auto;
    width: 80vw;
    padding: 1rem;
    background-color: #e3d7cb;
}


h1 {
    color: red;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}

h2 {
    color: #DB5D01;
    margin-left: 25px;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    background-color: #922b02;
    font-family: 'Open Sans', sans-serif;
}

p,
blockquote,
ul,
ol {
    margin-left: 100px;
}

blockquote {
    background-color: #f7ba6a;
    padding: 1rem;
}

img.over {
    float: right;
    margin: 0 12px;
}

footer {
    background-color: #f7ba6a;
}

a:link {
    color: #DB5D01;
}

a:visited {
    color: #E68930;
}

a:hover {
    color: red
}

a:active {
    color: #DB5D01;
}