/* body {
    margin: 1rem;
} */

/* #wrapper {
    display: grid;
    grid-template-areas:
    "title" 
    "preview" 
    "intro" 
    "content" 
    "footer";
} */

/* FONTS */
.kdam-thmor pro-regular {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
}


html, body , .wrapper {
    height: 100%;
    margin: 0;
    background-color:black;
    color:white
}

h2 {
    text-indent: 2%;
    background-color: darkblue;
    color: yellow;
    font-size: 2rem;
}

p {
    margin-left: 10px;
}

.wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      "title title preview"
      "intro intro distance"
      "characters characters distance"
      "maneuverability maneuverability missions"
      "storytelling storytelling storytelling";
}



/* TITLE SECTION */

.title { grid-area: title; }

.title h1 {
    margin: auto;
    width: 500px;
    height: 250px;
    background: url(../media/Syphon_filter_logo.png) no-repeat;
    text-indent: -9999px;
}

.title h3 {
    float: right;
}






/* INTRO SECTION */

.intro { 
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr 1fr .25fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "intro_text intro_text intro_images"
        "intro_text intro_text intro_images"
        "intro_text intro_text intro_images";
    border-radius: 25px;
    border: 2px solid yellow;
}

.intro_text {
    grid-area: intro_text;
    font-size: 1.43rem;
    margin-right: 5px;
}

.intro_text p::first-letter {
    font-size: 5rem;
    color:yellow;
}

.intro_images { 
    grid-area: intro_images;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1px;
 }

.intro_images img{

   max-width: 300px;
   height: auto; 
   border: 1px solid yellow;
}






/* PREVIEW SECTION */

.preview h1 {
    text-align: left;
    
}

#percent{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

#psList {
    border-left: 1px solid white;
    border-top: 1px solid white;
}



.characters { grid-area: characters; border-radius: 25px; border: 2px solid yellow;}
.maneuverability { grid-area: maneuverability; border-radius: 25px; border: 2px solid yellow;}
.storytelling { grid-area: storytelling; border-radius: 25px; border: 2px solid yellow;}
.distance { grid-area: distance; border-radius: 25px; border: 2px solid yellow;}
.missions { grid-area: missions; border-radius: 25px; border: 2px solid yellow;}
.preview { grid-area: preview; }





